/* ./src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap");
body {
  background: black;
  font-family: "Kufam", cursive;
  scroll-behavior: smooth;
}

body p {
  @apply text-white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#menu:checked ~ .menu {
  @apply translate-x-0;
}

.menu {
  @apply fixed w-9/12 z-10 block bg-black top-0 right-0 h-screen transition-all transform translate-x-full;
  @apply md:w-3/6 md:justify-evenly;
  @apply md:flex md:static md:transform-none md:h-auto;
}

.menu--option {
  @apply text-white hover:underline animate-pulse pt-5 pl-5 transition-all;
  @apply md:pt-0 md:pl-0;
}

.menu--option:first-child {
  @apply mt-16 md:mt-0;
}

.donate--gallery {
  @apply mt-4 sm:w-4/12 break-all flex items-center px-5 flex-col;
}
